/* Whole Webpage */
body {
  color: #555;
  margin: 0;
  font-family: 'Goudy Old Style', serif;
  font-size: 20px;
}

/* Header */
#header {
  background-color: #450062;
  height: 200px;
  line-height: 200px;
}

#header img {
  width: 200px;
  length: 200px;
  float: left;
  display: block;
  padding: 0 0 0 20px;
}

#header a {
  color: #248b6d;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover {
  color: #5dd5b3;
}

#header-title {
  display: block;
  float: left;
  font-size: 40px;
  font-weight: bold;
  padding: 0 20px 0 50px;
}

#header-nav {
  display: block;
  float: right;
  font-size: 25px;
  padding: 0 30px 0 0;
}

#header-nav li {
  display: inline;
  padding: 0 0 0 40px;
  margin: 0;
}

.container {
  margin: 0 auto;
}

/* Footer */
#footer {
  background-color: #2f2f2f;
  padding: 50px 100px 50px 200px;
}

.column {
  min-width: 400px;
  display: inline-block;
  vertical-align: top;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 25px;
  font-weight: normal;
}

#footer p {
  color: white;
  font-size: 20px;
}

a {
  color: #248b6d;
  text-decoration: none;
}

a:hover {
  color: #5dd5b3;
}

#footer img {
  text-align: center;
  length: 200px;
  width: 200px;
  border-radius: 50%;
}

/* Content */
.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.about {
  text-align: center;
}

.post-container:nth-child(even) {
  background: #d9d9d9;
}

.post-author {
  color: #450062;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.post-author img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  border-radius: 50%;
}

.about-author img {
  border-radius: 50%;
}

.post-author span {
  margin-left: 30px;
  font-size: 25px;
  font-style: italic;
}

.post-date {
  color: #248b6d;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #333;
}

p {
  line-height: 1.5;
}
